/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.gallery-item{
  height: 200px;
  max-width: calc((100%-2*24px)/3);
  border: 1px solid #808080;
  transition-duration: 90ms;
}

.gallery-item:hover{
  transform:scale(1.04); 
}
.text-container{
  height: 48px;
  display: flex;
  max-width: 360px;
  padding: 4px 20px 4px 20px;
  gap: 28px;
}
.text-container p{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.text-span{
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery-image{
  height: 152px;
  width: 100%;
}
.container{
  max-width: 1128px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_for_image{
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.input{
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input::placeholder{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.input:hover{
  border: 1px solid #000;
}
.input:focus {
  border: 1px solid #4e75ff;
}
.input:active {
  border: 1px solid #4e75ff;
}
.button{
border-radius: 8px;
border-color: transparent;
padding: 8px 16px;
width: 91px;
height: 40px;
background: #4e75ff;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
.button:hover{
  background: #6c8cff;
}
.load-button{
border:none;
border-radius: 8px;
padding: 8px 16px;
width: 125px;
height: 40px;
background: #4e75ff;
}
.loading-text{
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
.load-button:hover{
  background: #6c8cff;
}
.is-hidden{
  display: none;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 